.user-info {
    color: #fff;
}


.nav-item a {
    color: #fff;
}
header {
    background-color: #2b2b2b;
}
.hero {
    background-color: rgb(176, 176, 176);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.log-in a{
    text-decoration: none;
    background-color: aqua;
    padding: 10px 20px;
    border-radius: 20px;
}

.logout {
margin-left: 15px;
}
.stat-box {
    background: #343a40;
    color: white;
    padding: 50px 150px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
}

.stat-number {
    font-size: 50px;
    font-weight: bold;
}

.stat-label {
    font-size: 18px;
    margin-top: 10px;
}

.login {
    margin-top: 45px;
   display: inline-block;
   padding: 0 10px;
   
}

.login a {
  
    text-decoration: none;
    background-color: rgb(107, 113, 113);
    color: #fff;
    padding: 15px 40px;
    border-radius: 10px;
    transition: 0.3s;

}


.login a:hover {
background-color: azure;
}